*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.search_container{
    background-color: #495AF6;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
}

.gallery{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.photo-card{
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
   
}

.info{
    display: flex;
    gap: 15px;
    
}

.info-item{
    text-align: center;
    margin-top: 5px;
    
}

